// CORES
$corDeFundo: linear-gradient(180deg, rgba(0,0,0,1) 35%, rgba(113,118,59,1) 50%, rgba(0,0,0,1) 80%) no-repeat;

$corTextoPrincipal: #fff;
$corTextoParagrafo: #ccc;


//FONTES
$fontPrincipal: 'Kanit', sans-serif;